<div class="container my-5">
  <div class="row d-flex">
    <div class ="col justify-content-center">
      <%= image_tag 'about_logo.png', size: "180x80", class: "d-block mx-auto" %>
    <h4 class ="text-center mb-5 mt-3">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      是非ご注文ください。</h4>
    </div>
  </div>
  <div class="row d-flex">
    <div class ="col justify-content-center">
      <%= image_tag 'aboutpage.jpg', class: "about-image-vw d-block mx-auto" %>
    </div>
  </div>
</div>