<div class="container">
  <div class = "row">
    <div class = "col-lg-5">
      <h3 class ="my-5">ジャンル編集</h3>
            <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
              <%= f.label :name,"ジャンル名",class: "mr-4" %>
              <%= f.text_field :name, class: "mr-4" %>
              <%= f.submit "変更を保存", class: "btn btn-sm btn-outline-success" %>
            <% end %>
    </div>
  </div>