<div class="container mx-5">
  <div class="row">
    <div class="col-md-6 col-sm-12　rounded ml-5 px-5 my-4">
      <h3>注文情報入力</h3>
    </div>
  </div>
  <%= form_with model: @order,url: orders_path,method: :post do |order| %>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>支払い方法</strong></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <div class="custom-control custom-radio">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>お届け先</strong></h3>
      <%= order.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12 px-0 ">
      <div class="custom-control custom-radio">
      </div>
    </div>
  </div>
  <%= order.submit "注文を確定する",class: 'btn btn-success' %>
  <% end %>
</div>
