<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <h3>注文情報</h3>
    <h3>請求情報</h3>
  </div>
  <div class="row">
    <div class="col">
      <!--注文情報テーブル-->
      <table>
        <tr>
          <td>注文日</td>
        </tr>
      </table>
      <!--請求情報テーブル-->
      <table></table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      注文内容
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!--注文内容テーブル-->
      <table>
        
      </table>
    </div>
  </div>
</div>