<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto rounded py-5 my-5">
      <h2 class = "text-center">ご注文ありがとうございました！</h2>
      <%= image_tag 'thanks.png', size: "450x450", class: "d-block text-center mx-auto" %>
    </div>
  </div>
</div>
