  <table class="table-sm col-8 table-dark table-striped mr-0 ml-auto">
    <thead>
      <th class= "text-center">ジャンル検索</th>
    </thead>

    <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <td class= "text-center">
            <%= genre.name %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>