<h3>商品一覧</h3><p>(全<%= @items.count %>件)</p>

<% @items.each do |item| %>
  <table>
    <th><%= image_tag item.image,size: "100x100" %></th>
    <th><%= item.name %></th>
    <th>¥<%= (item.price* 1.08).round.to_s(:delimited) %></th>
  </table>
<% end %>